

.manage-user-header{
    display: flex;
    flex-wrap: wrap;
    a{
        text-decoration: none;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        background-color: green;
        padding: 0.5em 1em;
        border-radius: 10px;
        border: 3px solid #ffffff;
        cursor: pointer;

        &:hover{
            background-color: rgb(11, 92, 28);
            cursor: pointer;
        }
    }
}



.users-table {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    margin-bottom: 3em;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  th {
    font-size: 18px;
    background-color: rgb(117, 201, 250);
  }
  
  td {
    font-size: 16px;

    background-color: rgb(205, 235, 253);

    button{
      margin: 3px;
      padding: 0.5em 1em;
      cursor: pointer;
      color: #ffffff;
      border: none;
      border-radius: 5px;

      &:nth-child(1){
        background-color: rgb(63, 206, 58);
        
      }

      &:nth-child(2){
        background-color: rgb(206, 58, 58);
      }
    }
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
 