@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fuggles&display=swap');

$primary-color: #105652;
$secondary-color: #F9C041;
$tertiary-color: #B91646;



*{
    margin: 0 auto;
    text-decoration: none;

}
.update-site-content-con{

    .update-header-container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        a{
            text-decoration: none;
            background-color: #105652;
            color: #fff;
            padding: 0.6em 2em;
            border: 3px solid #fff;
            border-radius: 5px;
        }
    }
    .update-body-container{
        padding: 1em 4em;
        .add-announce-container{
            input{
                height: 5em;
            }
        }
    }

}
.note{
    color: rgb(117, 117, 117);
}
.scholar-header{
    margin: 1em;
}

.add-announce-container{
    font-family: Arial, Helvetica, sans-serif;

    .addTitle{
        height: 10em;
    }
    input,textarea{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;

        padding: 0.5em;
    }
}

.add-scholarship-container{
    font-family: Arial, Helvetica, sans-serif;

    input,textarea{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding: 0.5em;
    }
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 1em 0em;
}

.add-buttons, .edit-buttons{
    display: flex;
    gap: 5em;
    margin: 1em;

    button{
        padding: 1em 3em;
        border: 1px solid black;
        border-radius: 5px;
        &:hover{
            background-color: rgb(202, 202, 202);
        }
    }

    button[type=submit]{
        background-color: #105652;
        color: white;
        &:hover{
            background-color: #0e4946;
        }
    }
}

.scholarship-info-table, .announcements-table{
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 3em;
    &::-webkit-scrollbar {
        display: none;
      }
    table{
        overflow: scroll;
        th{
            font-size: 24px;
            font-weight: 100;
        }
    }
}


$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {

}

$breakpoint-laptop: 1024px;
@media (min-width: $breakpoint-laptop) {

}