@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fuggles&display=swap');

$primary-color: #105652;
$secondary-color: #F9C041;
$tertiary-color: #B91646;



*{
    margin: 0 auto;

}

.dean-review-application{
    font-family: Arial;
    width: 100%;
    padding: 2em 0em 0.5em 0em;
    background-color: #fff;
    .dean-review-header{
        display: flex;
        flex-direction: column;
        .uni-details{
            width: 450px;
            text-align: center;
            display: flex;
            align-items: center;
            margin-bottom: 2em;
            div{
                width: auto;
            }       
        }
         
    }
    .dean-review-body{
        text-align: left;
        margin: 3em auto;
        width: 57%;
        .scholarship-form-msg{
            width: 70%;
            .scholar-details{
                text-align: right;
            }
        }

        .applicant-data{
            margin: 3em;
        }
        

        .subj-codes-units-table{
            margin: 2em 0em 5em;
        }
        table{
            overflow: scroll;
            thead{
                tr{
                    td{
                        border: 1px solid black;
                        background-color: #fff;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        border: 1px solid black;
                        background-color: #fff;
                    }
                }
            }
        }
        // .signatures{
        //     display: flex;
        //     justify-content: space-around;
        //     align-items: center;
        //     margin-bottom: 7em;
        // }

        .signatures{
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 3em;
            .student-signature{
                text-align: left;
                margin-left: 60%;
            }
            .higher-ups-signs{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 40%;
                div:nth-child(2){
                    margin-top: 30px;
                }
            }
        }

        .other-reqs{
            display: flex;
            flex-direction: column;
            gap: 3em 0em;
            img{
                max-width: 120%;
                object-fit: contain;
            }
            
        }
    }

}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {

}

$breakpoint-laptop: 1024px;
@media (min-width: $breakpoint-laptop) {

}