@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fuggles&display=swap');

$primary-color: #105652;
$secondary-color: #F9C041;
$tertiary-color: #B91646;



*{
    margin: 0 auto;

    .user-details-container{
        width: 80%;
        background-color: rgb(240, 234, 222);
        text-align: left;
        border: 0.4em solid black;
        
        h1{
            font-family: Bebas Neue;
            font-style: italic;
            color: #F9C041;
            margin: 1em
        }
        form{
            display: grid;
            grid-template-columns: 1fr;
            gap: 1.6em;
            font-family: Bebas Neue;

            div{
                display: flex;
                flex-direction: column;

                input, select{
                    border: 2px solid #F9C041;
                    border-radius: 3px;
                    width: 100px;
                    padding: 0.4em;
                }
                select{
                    width: 180px;
                }
            }

            button{
                color: #fff;
                background-color: #F9C041;
                padding: 0.5em 0em;
                grid-column: 1 / span 1;
                margin: 3em;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }

}

input[name="password"], input[name="confPassword"]{
    width: 300px;
    height: 30px;  
}

.btnCancel, .btnChangePass{
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;

}
.btnCancel{
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        background-color: rgb(185, 185, 185);
    }

}

.btnChangePass{
    background-color: #105652;
    color: #fff;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: #0e4946;
    }
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {

    .user-details-container{
        
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;

            button{
                grid-column: 2 / span 1;
            }
        }
    }
}

$breakpoint-laptop: 1024px;
@media (min-width: $breakpoint-laptop) {

    .user-details-container{
        
        form{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}