@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fuggles&display=swap');

$primary-color: #105652;
$secondary-color: #F9C041;
$tertiary-color: #B91646;



*{
    margin: 0 auto;

}

.view-scholarships{
    padding: 1em 2em 5em 2em;
    h1{
        font-family: Bebas Neue;
    }
    span{
        label{
            font-size: 22px;
        }
        input{
            border-radius: 3px;
            height: 28px;
            width: 30%;
            font-size: 18px;
        }
    }
    .scholarship-select{
        height: 2.5em;
    }
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {

}

$breakpoint-laptop: 1024px;
@media (min-width: $breakpoint-laptop) {

}